<div class="wrapper">
  <div class="heading-main">
    Book Detail
  </div>
  <table class="responstable bookdetail" cellpadding="0" cellspacing="0">
    <tr>
      <td data-th="Driver details">ISBN<span></span></td>
      <td>{{book.isbn}}</td>
    </tr>
    <tr>
      <td><span>Title</span></td>
      <td>{{book.title}}</td>
    </tr>
    <tr>
      <td><span>Subtitle</span></td>
      <td>{{book.subtitle}}</td>
    </tr>
    <tr>
      <td><span>Author</span></td>
      <td>{{book.author}}</td>
    </tr>
    <tr>
      <td><span>Published</span></td>
      <td>{{book.published | date: 'dd/MM/yyyy'}}</td>
    </tr>
    <tr>
      <td><span>Publisher</span></td>
      <td>{{book.publisher}}</td>
    </tr>
    <tr>
      <td><span>Pages</span></td>
      <td>{{book.pages}}</td>
    </tr>
    <tr>
      <td><span>Description</span></td>
      <td>{{book.description}}</td>
    </tr>
    <tr>
      <td><span>Website</span></td>
      <td>{{book.website}}</td>
    </tr>
    <tr>
      <td><button (click)="goBack(book)">BACK</button></td>
      <td><button (click)="goToBookEdit(book)">EDIT</button></td>
    </tr>
  </table>
</div>